# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class

# Precompiled Headers
*.gch
*.pch

# IDE files
*.iml
*.idea
*out

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
